/* Card */
@media only screen and (min-width: 700px) {
  .card {
    margin-right: 2%;
    width: 33%;
  }
}

.cardTitle {
  font-size: 1.9rem;
}

.cardText {
  font: 1.1rem 'Poppins', sans-serif;
  max-width: 250px;
}
