.header {
  overflow: hidden;
  position: relative;
}

.headerImage {
  background: url(../../img/bible.jpg) no-repeat scroll 80% 48%;
  background-size: cover;
}

.heroImage {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heroImage * {
  height: 100%;
  width: 100%;
}

.headerHome {
  background-position: 0 0;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerWrapper::before {
  background-color: rgba(0,0,0,0.4);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.logo {
  background-image: url(../../img/logo.png);
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 222px;
  position: relative;
  width: 220px;
}

.heading {
  color: white;
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 11rem 0 4rem 25%;
  max-width: 675px;
  position: relative;
  width: 100%;
}

.quoteWrap {
  background-color: #c79288;
  color: #fff;
  padding: 1.25rem 0;
}

.quote {
  border-left: 2px solid #eee;
  font: italic 1.3rem 'Lora', serif;
  line-height: 1.6;
  max-width: 780px;
  margin: 0 auto;
  padding-left: 2rem;
}

.quoteText {
  margin-bottom: 0.7rem;
}

.cite {
  font-style: normal;
  font-size: 0.9rem;
}

/* Card Grid */
.cardGrid {
  display: flex;
  margin-bottom: 5rem;
}

.card {
  margin-right: 2%;
  width: 33%;
}

.cardText {
  font: 1.1rem 'Poppins', sans-serif;
  max-width: 250px;
}

/* Recent Single */
.list {
  margin-bottom: 5rem;
}

.listItem {
  margin-bottom: 4rem;
}

/* Footer */
.footer {
  background-color: #3a3734;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}

.footerWrap::after {
  background-color: #676561;
  content: "";
  display: block;
  height: 2px;
  margin: 2rem auto 0;
  width: 100px;
}

.footer ul {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footerListItem {
  display: inline-block;
  margin: 0 0.5rem;
}
