.person {
  overflow: hidden;
}

@media only screen and (min-width: 700px) {
  .personContent {
    display: flex;
  }

  .personImage {
    margin-right: 2rem;
    width: 42%;
  }

  .personCopyWrapper {
    width: 58%;
  }
}

.personCopyWrapper {
  margin-bottom: 2rem;
}

.personTitle {
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 700px) {
  .personTitle {
    margin-top: 0;
  }
}

.personSubTitle {
  font-size: 1rem;
  font-style: italic;
  margin: 0.5rem 0 2rem;
}
