.staffList {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 700px) {
  .staffList {
    display: flex;
    flex-wrap: wrap;
  }
  
  .staffItem {
    margin-bottom: 3rem;
    margin-right: 14%;
    width: 36%;
  }
}
