.sermonPreview {
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 700px) {
  .sermonPreview {
    display: flex; 
    justify-content: space-between;
  }
  
  .sermonPreview > * {
    width: 60%;
  }
  
  .sermonLeft {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .sermonPreview > * {
    width: 50%;
  }
  
  .sermonLeft {
    width: 30%;
  }
}

.previewTitle {
  font-size: 1.5rem;
  margin-bottom: 0.05rem;
  margin-top: 0;
}

.postDate {
  font-size: 0.7rem;
}

.scripture {
  font-size: 0.9rem;
}

.scripture a {
  text-decoration: none;
}

.scripture a:hover {
  text-decoration: underline;
}
