.sermonPreview {
  display: flex; 
  justify-content: space-between;
  margin-bottom: 3rem;
}

.sermonPreview > * {
  width: 50%;
}

.sermonLeft {
  width: 30%;
}

.previewTitle {
  font-size: 1.5em;
  margin-bottom: 0.15rem;
  margin-top: 0;
}
