.header {
  position: relative;
}

.headerHome {
  background: url(./img/bible.jpg) no-repeat scroll 0 0;
  background-size: cover;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5vmin 0;
  width: calc(100% - 10vmin);
}

.headerHomeWrapper::before {
  background-color: rgba(0,0,0,0.4);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.logo {
  background-image: url(./img/logo-color.png);
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 222px;
  position: relative;
  width: 220px;
}

.logoHome {
  background-image: url(./img/logo.png);
}

.heading {
  color: white;
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 11rem 15rem 4rem;
  max-width: 675px;
  position: relative;
  width: 100%;
}

.quoteWrap {
  background-color: #c79288;
  color: #fff;
  padding: 1.25rem 0;
}

.quote {
  border-left: 2px solid #eee;
  font: italic 1.3rem 'Lora', serif;
  line-height: 1.6;
  max-width: 780px;
  margin: 0 auto;
  padding-left: 2rem;
}

.quoteText {
  margin-bottom: 0.7rem;
}

.cite {
  font-style: normal;
  font-size: 0.9rem;
}

/* Card Grid */
.cardGrid {
  display: flex;
  margin-bottom: 5rem;
}

.card {
  margin-right: 2%;
  width: 33%;
}

.cardText {
  max-width: 250px;
}

.footer {
  background-color: #3a3734;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}

.footerWrap::after {
  background-color: #676561;
  content: "";
  display: block;
  height: 2px;
  margin: 2rem auto 0;
  width: 100px;
}

.footer ul {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footerListItem {
  display: inline-block;
  margin: 0 0.5rem;
}
