/* Quote */
.quoteWrap {
  background-color: #c79288;
  color: #fff;
  padding: 1.25rem 0;
}

.quote {
  border-left: 2px solid #eee;
  font: italic 1.3rem 'Lora', serif;
  line-height: 1.6;
  max-width: 780px;
  margin: 0 auto;
  padding-left: 2rem;
}

.quoteText {
  margin-bottom: 0.7rem;
}

.cite {
  font-style: normal;
  font-size: 0.9rem;
}
