/* Quote */
.quoteWrap {
  background-color: #c79288;
  color: #fff;
}

@media only screen and (min-width: 700px) {
  .quoteWrap {
    padding: 0.5rem 2rem;
  }
}

.quote {
  border: none;
  font: italic 1rem 'Lora', serif;
  line-height: 1.6;
  max-width: 780px;
  margin: 0 auto;
  padding-left: 0;
}

@media only screen and (min-width: 700px) {
  .quote {
    border-left: 2px solid #eee;
    font-size: 1.1rem;
    padding-left: 1.8rem;
  }
}

.quoteText {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.cite {
  font-style: normal;
  font-size: 0.8rem;
}
